.ProjectContainer {
  margin: auto;
  height: 300px;
  width: 90%;
  border-radius: 8px;
  background-color: #219ebc;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ProjectImage {
  width: 50%;
  height: 80%; 
  float: left;
}

.ProjectImage img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.ProjectDescription {
  float: right;
  width: 50%;
  height: 80%;
}