/*.App {
  text-align: center;
  border-radius: 8px;
  background-color: #8ecae6;
}

.ProjectContainer {
  margin: auto;
  height: 300px;
  width: 90%;
  border-radius: 8px;
  background-color: #219ebc;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ProjectImage {
  width: 50%;
  height: 80%; 
  float: left;
}

.ProjectImage img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  vertical-align: middle;
}

.ProjectDescription {
  float: right;
  width: 50%;
  height: 80%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-button {
  border-radius: 8px;
  font-size: 16px;
  padding: 14px 40px;
  float: left;
  display: inline;
  width: 49%;
  background-color: #023047;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.app {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}
